.loginForm {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  margin-top: -25%;
  height: 80vh;
  text-align: left;
  border-radius: 5px;
}

.loginForm__container {
  margin: 45px;
  color: #b3b3b3;
}

.loginForm__container > h1 {
  color: white;
  margin-bottom: 25px;
  font-weight: 600;
}

.loginForm__container > form {
  display: grid;
  margin: 10px 0;
}

.loginForm__container > form > div > input {
  border: none;
  outline: none;
  margin: 5px 0;
  width: 92%;
  padding: 8px 12px;
  height: 30px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.loginForm__button {
  margin-top: 40px;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #e50914;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.loginForm__floatlabel {
  position: relative;
  display: flex;
  flex-direction: column;
}

.loginForm__floatlabel > label {
  position: absolute;
  padding: 0 12px;
  transform: translate(0, 15px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.loginForm__floatlabel:focus-within label {
  transform: translate(5px, 5px) scale(0.6);
}

.loginForm__floatlabel .active {
  transform: translate(5px, 5px) scale(0.6);
}

.loginForm__footer {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.loginForm__help:hover {
  text-decoration: underline;
  cursor: pointer;
}

.loginForm__additionalLogin {
  font-size: 14px;
  color: #737373;
}

.loginForm__facebook {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  color: #737373;
  background: inherit;
  margin-bottom: 13px;
}

.loginForm__facebook > .MuiSvgIcon-root {
  color: #0080ff;
  margin-right: 10px;
}

.loginForm__facebook:hover {
  cursor: pointer;
}

.loginForm__signuplink {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 13px;
}

.color__white {
  color: white;
}

.color__white:hover {
  text-decoration: underline;
  cursor: pointer;
}

.loginForm__info {
  font-size: 14px;
  color: #8c8c8c;
}

.color__blue {
  color: #0071eb;
}

.color__blue:hover {
  text-decoration: underline;
  cursor: pointer;
}
