.signupForm__container {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  margin-top: -25%;
  height: 80vh;
  text-align: left;
  border-radius: 5px;
  color: #b3b3b3;
}

.signupForm__container > h1 {
  color: white;
  font-weight: 600;
  margin: 45px;
}

.signupForm__container > form {
  display: grid;
  margin: 0 45px;
}

.signupForm__floatlabel {
  display: flex;
  flex-direction: column;
  position: relative;
}

.signupForm__floatlabel > input {
  padding: 8px 12px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px 0;
}

.signupForm__floatlabel > label {
  position: absolute;
  transform: translate(0, 15px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
  padding: 0 12px;
  pointer-events: none;
}

.signupForm__floatlabel:focus-within label {
  transform: translate(5px, 5px) scale(0.6);
}

.signupForm__floatlabel > .active {
  transform: translate(5px, 5px) scale(0.6);
}

.signupForm__button {
  margin: 30px 0 10px 0;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  background-color: #e50914;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.signupForm__footer {
  font-size: 17px;
  font-weight: 400;
  margin: 0 45px;
}

.color__white {
  color: white;
}

.color__white:hover {
  text-decoration: underline;
  cursor: pointer;
}
